if session.passport
  span #{session.passport.user.username}
  a(href=`/user/${session.passport.user.id}`) My Account
  form(method="POST")
    button(type="submit" formaction="/logout") Logout
  form(method="GET")
    button(type="submit" formaction="/product/add") Add Product
  form(method="GET")
    button(type="submit" formaction="/product") All Products
  form(method="GET")
    input(type="text" placeholder="Search for product" id="searchProducts" name="title" required)
    button(type="submit" formaction=`/search/?${title}`)