if session.passport
  span #{session.passport.user.username}
  a(href=`/user/${session.passport.user.id}`) My Account
  a(href=`/user/cart`) My Cart
  form(method="POST")
    button(type="submit" formaction="/logout") Logout
  form(method="GET")
    button(type="submit" formaction="/product/add") Add Product
  form(method="GET")
    button(type="submit" formaction="/product") All Products