extends index.pug

block content
  if messages.emptyCart
  h1= messages.emptyCart
  each p in Prods
    h1= p.title
    h4= p.description
    form(method="GET")
      button(type="submit" formaction="/product/" + p.id) View Details  
    form(method="POST") 
      button(type="submit" formaction="/order/" + p.id) Add to Order