doctype html
html
  head
    title Bangazon!
    link(rel="stylesheet", href="/styles/styles.css")
  body
    include partials/nav.pug
    h1 Bangazon!
    h2 #{globalWow}

  block content
    button#showLogin login
    button#showRegister register

    script
      include ../client/client.js
      include ../node_modules/jquery/dist/jquery.js
      include ../public/main.js