extends index.pug

block content
  form(name="newproduct" method="post" action="/product")
    //- CREATES FORM TO ADD NEW PRODUCT TO SELL
    label(for="prodTitle") Title
    input(type="text" placeholder="Product Name" value="" id="prodTitle" name="title" required)
    label(for="prodDescription") Description
    input(type="text" placeholder="Description" value="" id="prodDescription" name="description" required)
    label(for="prodQuantity") Quantity
    input(type="number" placeholder="Quantity" value="" id="prodQuantity" name="quantity_avail" min="1" step="1" required)
    label(for="prodPrice") Price
    input(type="number" placeholder="Price" value="" id="prodPrice" name="price" min="0" step="0.01" required)
    button(type="submit") Sell


