extends index.pug

block content
  form(name="newproduct" method="post" action="/product")
    //- CREATES FORM TO ADD NEW PRODUCT TO SELL
    label(for="prodTitle") Title
    input(type="text" placeholder="productName" value="" id="prodTitle" name="title")
    label(for="prodDescription") Description
    input(type="text" placeholder="Description" value="" id="prodDescription" name="description")
    label(for="prodQuantity") Quantity
    input(type="number" placeholder="Quantity" value="" id="prodQuantity" name="quantity_avail")
    label(for="prodPrice") Price
    input(type="number" placeholder="Price" value="" id="prodPrice" name="price")
    button(type="submit") Sell



