extends index.pug

block content
  h2 Your Cart Items:
    ul
      each product in cartProducts
        li 
          h4= product.title
          h5= product.description
          h5 $#{product.price}
        a(href="/remove_Order_Product/"+product.id) Remove product
  a(href="/delete_Order") Cancel Order
  

        
  //- openOrder.