extends index.pug

block content
  ul
    each p in products 
      li= p.title
      li= p.description
      li Current price: $#{p.price}
      li Act now! Only #{p.quantity_avail} left in stock!
      a(href="/deleteProduct/"+p.id+"/"+p.user_id) Delete this product (seller function)
      form(method="POST") 
        button(type="submit" formaction="/order/" + p.id) Add to Order
    
