extends index.pug

block content
  each p in Prods
  h1= Prods.title
  h4= Prods.description
  h4 Current price: $#{Prods.price}
  h5 Act now! Only #{Prods.quantity_avail} left in stock!
  a(href="/deleteProduct/"+Prods.id+"/"+Prods.user_id) Delete this product (seller function)
  form(method="POST") 
    button(type="submit" formaction="/order/" + Prods.id) Add to Order
