extends index.pug

block content
    h1= singleProd.title
    h4= singleProd.description
    h4 Current price: $#{singleProd.price}
    h5 Act now! Only #{singleProd.quantity_avail} left in stock!
    button Add to Cart
    button Delete this product (seller function)