extends index.pug

block content
  label(for="prodTitle") Title
    input(type="text" placeholder="productName" value="" id="prodTitle")
  label(for="prodDescription") Description
    input(type="text" placeholder="productName" value="" id="prodDescription")
  label(for="prodQuantity") Quantity
    input(type="text" placeholder="productName" value="" id="prodQuantity")
  label(for="prodPrice") Price
    input(type="text" placeholder="productName" value="" id="prodPrice")


//- title, description, quantity, price
