extends index.pug

block content
  input(type="text" placeholder="productName" value="" id="prodTitle")
  input(type="text" placeholder="productName" value="" id="prodDescription")
  input(type="text" placeholder="productName" value="" id="prodQuantity")
  input(type="text" placeholder="productName" value="" id="prodPrice")


//- title, description, quantity, price
